<!DOCTYPE HTML>
<html>
    <head>
        <link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class='logo'>
                <a href="/home"><img src="{{url_for('static',filename='img/11948251.jpg')}}"></a>
            </div>
            <div class="menu">
                <a href=''>About Us</a>
                <a href='/add_Event'>New Event</a>
                <a href='/register'>register user</a>
            </div>           
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>