<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale-1">
        <link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <div class='logo'>
                <a href="/home"><img src="{{url_for('static',filename='img/11948251.jpg')}}"></a>
            </div>
            <div class="menu">
                <a href=''>About Us</a>
                <a href='/add_Event'>New Event</a>
                <a href='/logout'>logout</a>
            </div>
        </header>
        <main>
            <div class="container">
                <form action="/new_event" method="POST">
                    <h2>Update Event</h2>
                    <div class="group-form">
                        <label for="title">Title:</label>
                        <input type="text" name="title" value = {{event[0]['title']}}>
                    </div>
                    <div class="group-form">
                        <label for="location">Location</label>
                        <input type="text" name="location">
                    </div>
                    <div class="group-form">
                        <label for="name">Time</label>
                        <input type="time" name="time">
                    </div>
                    <div class="group-form">
                        <label for="event_date">Date</label>
                        <input type="date" name="event_date">
                    </div>
                    <div class="group-form">
                        <label for='details'>Event Details</label>
                        <textarea id="details"></textarea>
                    </div>
                    <button name="action" value="cancel">Cancel</button>
                    <button name="action" value="submit">Submit</button>
                </form>
            </div>
        </main>
        <footer></footer>
    </body>
</html>