*{
    padding:0 auto;
    margin:auto 0;
}

body,header{
    background-color:antiquewhite;
    width:50%;
    margin:auto;
    padding:auto 0px;
}

.form_container{
    width:600px;
    display:flex;
    justify-content: space-between;
}
header{
    width:1000px;
    display:flex;
    justify-content: space-between;
}
body{
    width:1000px;
}
.menu{
    display:flex;
}
.logo{
    margin-right:400px;
}
.container{
    width:800px;
    display:flex;
    justify-content: space-between;
}
#register-form{
    display:block;
    margin:0px auto;
}
a > img{
    width:80px;
    height:80px;
}

.info{
    width:700px;
    margin: auto;
}

.view_details{
    width:500px;
    display:flex;
}

table,th,tr,td{
    border:1px,black solid;
    width:auto;
}
a{
    margin:5px 0px;
}

.menu{
    justify-content: space-around;
}